@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-image: url(images/background.png);
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

h2 {
    color: #194175;
}

h3 {
    color: #194175;
}

p.teks {
    text-align: justify;
}

img {
    background-size: cover;
}

nav {
    background-color: #8cc63e;
    border-top: 10px solid #194175;
    border-bottom: 10px solid #194175;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #194175;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

main {
    padding: 20px;
    overflow: auto;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

footer {
    padding: 20px;
    color: white;
    background-color: #8cc63e;
    text-align: center;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.profile header {
    text-align: center;
}

.profile section {
    text-align: justify;
}

.profile img {
    width: 200px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(140, 198, 62, 0.15);
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #8cc63e;
    text-align: center;
    color: white;
}

#content {
    float: left;
    width: 75%;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}